p Мы приветствуем Вас в проекте "Наставничество"!
p Теперь у Вас есть личный кабинет для удобного взаимодействия с командой проекта!
p Для входа используйте Ваш e-mail
p Ваш пароль:&nbsp;
= @password

p
  = link_to 'Вход в личный кабинет', 'http://nastavnik54.ru/users/sign_in'