<% if can?(:read, category) %>
  <div id='category_<%= category.id %>' class='category ui orange segment'>
    <h2 class="ui header"><%= link_to forem_emojify(category.name), [forem, category] %></h2>
    <%= render "/forem/forums/listing", :category => category %>
  </div>
<% end %>
