upstream mentoring_server {
    server unix:/var/www/mentoring/shared/sockets/unicorn.sock fail_timeout=0;
}

server {
    listen 80;

    client_max_body_size 1G;
    server_name mentoring.kerweb.ru www.mentoring.kerweb.ru nastavnik54.ru www.nastavnik54.ru;
    keepalive_timeout 5;
    root /var/www/mentoring/current/public;
        try_files $uri/index.html $uri.html $uri @myapp;

    location @myapp {
        proxy_pass http://mentoring_server;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    location ~ ^/(assets)/  {
        root /var/www/mentoring/current/public;
        gzip_static on; # to serve pre-gzipped version
        expires max;
        add_header Cache-Control public;
    }


    error_page 500 502 503 504 /500.html;
    location = /500.html {
        root /var/www/mentoring/current/public;
    }
}